block variables

doctype html
html
  head
    include common/head
  body
    block content
    .preloader
        .preloader__spinner
            .preloader__animation
            .preloader__counter 0

