header.header(class="table-box")
	.table-box_row
		.header__top
			.header__links_left
				include ../common/_socials 
			.button_container(id="toggle")
				span.top
				span.middle
				span.bottom

	.table-box_row.about__box
		.about__box_author
			.about__author
				.about__box_author-avatar
					img(src="/assets/img/avatar.png" alt="Dmitry Shapira")
				h1.about__box_blog-name.three-dot БЛОГ
				p.about__box_author-descr Статьи, которые я написал
			svg.header__svg_blog
				use(href="assets/img/sprite.svg#blog_header")
			a(href="/").Bottomsvg
				svg
					use(href="assets/img/sprite.svg#arrow_down")
		svg(version='1.1', width='100%', height='150px', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', viewbox='0 0 50 50', preserveaspectratio='none').triangle__left
			polygon(points='0,0 0,130 100,100' fill="#faf8f0")
		svg(version='1.1', width='100%', height='150px', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', viewbox='0 0 50 50', preserveaspectratio='none').triangle__right
			polygon(points='100,100 0,50 50,0' fill="#faf8f0")
		
	
	
.blog 
	aside.blog-navigation(id="sidebar")
		button.blog-navigation__toggle
		nav.blog-navigation__wrapper
			ul.blog-navigation__links-list
				li.links-list__item
					a(href="#article0").links-list__link «За сценой»: Что скрывается за магией концерта
			ul.blog-navigation__links-list
				li.links-list__item
					a(href="#article1").links-list__link Над RethinkDB сгущаются тучи?
	section.blog-content
		.article(id="article0")
			h3.article__title «За сценой»: Что скрывается за магией концерта
			time(pubdate datetime="2016-10-10").article__date 10 октября 2016
			.article__content
				p Когда на сцене любимая музыкальная группа, классический оркестр или модный диджей — это всегда невероятные эмоции и впечатления. Мощные трёхчасовые сеты или подборка любимых треков от артиста вживую звучат куда интереснее любой аудиозаписи.Oднако за выступлением, которое длится несколько часов, всегда стоит колоссальная работа. Поэтому сегодня нам бы хотелось приоткрыть завесу тайны и поглядеть, что происходит «за сценой». О том, как готовят рок-концерты — читайте в нашей статье.
				img(src="https://habrastorage.org/files/50b/011/83d/50b01183d3764b27b43bfca54eefc82a.jpg" alt="Picture")
				p Рок-концерт — это не только выступление группы и пляшущая толпа фанатов. Это правильно настроенный звук, световое шоу и другие элементы оформления, которые зависят от фантазии организаторов (голограммы, лазеры, дым-машина и т. д.). Помимо этого, на рок-концерте есть множество других более мелких деталей и элементов, которые в совокупности делают мощное шоу.
				h4 Звук и звукорежиссёр
				p Именно этот человек является настоящей звездой любого рок-концерта. Люди этой профессии получают хорошие деньги, заводят связи со знаменитостями, и, по словам бывшего звукорежиссёра Джона Грейвса (Jon Graves), имеют раздутое эго и часто орут на техников и инженеров на площадке. Сам Грейвс очень долгое время работал звукорежиссёром: гастролировал с группами Metallica, Guns Т’ Roses, следил за звуком на US Festival в восьмидесятые. Он говорит, что если у звукорежиссёра ночь не задалась, она не задалась ни у кого.
				p Звукорежиссёр — это человек, который сидит в небольшой кабинке напротив сцены в центре зала за большим микшерным пультом. Он контролирует все звуки, которые идут с оборудования на сцене, сводя их воедино и обрабатывая более ста дорожек. На микшерном пульте у звукорежиссёра есть отдельные дорожки для каждого инструмента и микрофона. Например, если возле ударной установки стоит 12 микрофонов, то со своего пульта «звукач» может контролировать 12 дорожек, которые он микширует, подстраивая под конкретное помещение или площадку.
				p У групп, как правило, также есть студийные записи, которые звукорежиссёр может в любой момент подключить к живому выступлению (например, если у вокалиста была тяжёлая ночь, и он остался без голоса). Но то, что слышит аудитория концерта, — это одна сторона медали. То, что слышат музыканты, — это уже другая история. Для последних них на сцене установлены мониторы. Такое микширование — достаточно объёмная работа, поэтому отдельный инженер, который отвечает за мониторы, всегда находится сбоку от сцены.
		.article(id="article1")
			h3.article__title Над RethinkDB сгущаются тучи?
			time(pubdate datetime="2016-10-08").article__date 8 октября 2016
			.article__content
				img(src="https://habrastorage.org/files/09d/230/0a5/09d2300a59ed44a9968a707155257833.jpg" alt="Picture")
				p Подозреваю, что у нас мало кто использует продукты этой компании. Хотя, как минимум, их одноимённая СУБД стоит внимания. На хабре видел пару статей всего. 
				p К сожалению, компания RethinkDB, развивающая одноимённую СУБД и web-платформу Horizon, объявила о закрытии. После 7 лет разработки из-за неспособности организовать устойчивый бизнес основатели были вынуждены свернуть свою деятельность. СУБД RethinkDB и платформа Horizon передаются в руки сообщества. Код RethinkDB распространяется под лицензией AGPLv3, а Horizon под лицензией MIT. 
				h4 Немного про RethinkDB
				p RethinkDB — это open source NoSQL база данных (сорсы на гитхабе), располагающая встроенной системой уведомления об изменениях. Вместо запросов к базе на наличие изменений, вы можете «подписываться» на потоковые обновления, что устранит ненужные запросы к базе. 
				p RethinkDB является безсхемным хранилищем JSON документов, но также поддерживает и некоторые особенности реляционных БД. RethinkDB также поддерживает кластеризацию, что делает её очень удобной в расширении. Вы можете настроить шардинг и копирование через встроенный веб-интерфейс. Последнии версия RethinkDB также включает в себя автоматический «fail-over» для кластеров с тремя и более серверами. (прим. переводчика: подразумевается возможность продолжения работы с БД в случае падения одного из серверов.)
				p Язык запросов в RethinkDB, который называется ReQL, нативно встраивается в код на том языке, на которым вы пишите своё приложение. Если, например, вы кодите на Python, то при написании запросов к БД будете использовать обычный для Python синтаксис. Каждый запрос составляется из функций, который разработчик собирает в цепочку, чтобы точно описать необходимую операцию.

