section.contacts
	div#map
	.contacts__info
		.contacts__heading
			h3.two-dot Контакты
		ul.contacts__links
			li.link-wrapper
				svg.fa
					use(xlink:href="assets/img/sprite.svg#skype")
				a(href="skype:remygin@gmail.com").link d-amid
			li.link-wrapper
				svg.fa
					use(xlink:href="assets/img/sprite.svg#envelope")
				a(href="#").link shapiro.net@gmail.com
			li.link-wrapper
				svg.fa
					use(xlink:href="assets/img/sprite.svg#phone")
				a(href="#").link +380 96 366 05 10
			li.link-wrapper
				svg.fa
					use(xlink:href="assets/img/sprite.svg#map_marker")
				a(href="#").link Belarus



script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBme7xPHLDSbDdIeUSj5dYJ6-rV7sQi4_o")