.skills__group
	h3.group__title Frontend
	ul.group__skills
		li.group__item
			p.item-title HTML 5
			svg(viewbox="0 0 120 120" class="piechart" data-percent="80")
				circle.piechart__bg(fill="none", stroke-width="20", stroke-dasharray="314.159265", stroke-dashoffset="314.159265", cx="60", cy="60", r="50", transform="rotate(-90, 60, 60)")
				circle.piechart__fill(data-percentage='99', fill='none', stroke-width='20', stroke-dasharray='314.159', stroke-dashoffset='314.159265', cx='60', cy='60', r='50', transform='rotate(-90, 60, 60)')
		li.group__item
			p.item-title CSS 3
			svg(viewbox="0 0 120 120" class="piechart" data-percent="60")
				circle.piechart__bg(fill="none", stroke-width="20", stroke-dasharray="314.159265", stroke-dashoffset="314.159265", cx="60", cy="60", r="50", transform="rotate(-90, 60, 60)")
				circle.piechart__fill(data-percentage='99', fill='none', stroke-width='20', stroke-dasharray='314.159265', stroke-dashoffset='314.159265', cx='60', cy='60', r='50', transform='rotate(-90, 60, 60)' )
		li.group__item
			p.item-title JavaScript
			svg(viewbox="0 0 120 120" class="piechart" data-percent="50")
				circle.piechart__bg(fill="none", stroke-width="20", stroke-dasharray="314.159265", stroke-dashoffset="314.159265", cx="60", cy="60", r="50", transform="rotate(-90, 60, 60)")
				circle.piechart__fill(data-percentage='99', fill='none', stroke-width='20', stroke-dasharray='314.159265', stroke-dashoffset='314.159265', cx='60', cy='60', r='50', transform='rotate(-90, 60, 60)' )
	
	h3.group__title Backend
	ul.group__skills
		li.group__item
			p.item-title PHP
			svg(viewbox="0 0 120 120" class="piechart" data-percent="70")
				circle.piechart__bg(fill="none", stroke-width="20", stroke-dasharray="314.159265", stroke-dashoffset="314.159265", cx="60", cy="60", r="50", transform="rotate(-90, 60, 60)")
				circle.piechart__fill(data-percentage='99', fill='none', stroke-width='20', stroke-dasharray='314.159265', stroke-dashoffset='314.159265', cx='60', cy='60', r='50', transform='rotate(-90, 60, 60)' )
		li.group__item
			p.item-title mySQL
			svg(viewbox="0 0 120 120" class="piechart" data-percent="70")
				circle.piechart__bg(fill="none", stroke-width="20", stroke-dasharray="314.159265", stroke-dashoffset="314.159265", cx="60", cy="60", r="50", transform="rotate(-90, 60, 60)")
				circle.piechart__fill(data-percentage='99', fill='none', stroke-width='20', stroke-dasharray='314.159265', stroke-dashoffset='314.159265', cx='60', cy='60', r='50', transform='rotate(-90, 60, 60)' )
		li.group__item
			p.item-title Yii2
			svg(viewbox="0 0 120 120" class="piechart" data-percent="30")
				circle.piechart__bg(fill="none", stroke-width="20", stroke-dasharray="314.159265", stroke-dashoffset="314.159265", cx="60", cy="60", r="50", transform="rotate(-90, 60, 60)")
				circle.piechart__fill(data-percentage='99', fill='none', stroke-width='20', stroke-dasharray='314.159265', stroke-dashoffset='314.159265', cx='60', cy='60', r='50', transform='rotate(-90, 60, 60)' )
	h3.group__title WorkFlow
	ul.group__skills
		li.group__item
			p.item-title Git
			svg(viewbox="0 0 120 120" class="piechart" data-percent="80")
				circle.piechart__bg(fill="none", stroke-width="20", stroke-dasharray="314.159265", stroke-dashoffset="314.159265", cx="60", cy="60", r="50", transform="rotate(-90, 60, 60)")
				circle.piechart__fill(data-percentage='99', fill='none', stroke-width='20', stroke-dasharray='314.159265', stroke-dashoffset='314.159265', cx='60', cy='60', r='50', transform='rotate(-90, 60, 60)' )
		li.group__item
			p.item-title Gulp
			svg(viewbox="0 0 120 120" class="piechart" data-percent="70")
				circle.piechart__bg(fill="none", stroke-width="20", stroke-dasharray="314.159265", stroke-dashoffset="314.159265", cx="60", cy="60", r="50", transform="rotate(-90, 60, 60)")
				circle.piechart__fill(data-percentage='99', fill='none', stroke-width='20', stroke-dasharray='314.159265', stroke-dashoffset='314.159265', cx='60', cy='60', r='50', transform='rotate(-90, 60, 60)' )
		li.group__item
			p.item-title Bower
			svg(viewbox="0 0 120 120" class="piechart" data-percent="50")
				circle.piechart__bg(fill="none", stroke-width="20", stroke-dasharray="314.159265", stroke-dashoffset="314.159265", cx="60", cy="60", r="50", transform="rotate(-90, 60, 60)")
				circle.piechart__fill(data-percentage='99', fill='none', stroke-width='20', stroke-dasharray='314.159265', stroke-dashoffset='314.159265', cx='60', cy='60', r='50', transform='rotate(-90, 60, 60)' )