section.portfolio-slider
	.portfolio-slider__module.portfolio-slider__preview-container
		include ../common/slider/_preview
	.portfolio-slider__module.portfolio-slider__projects-container
		include ../common/slider/_projects		
	.portfolio-slider__module.portfolio-slider__navigation-container
		include ../common/slider/_nav