.about-me {
	width: 100%;
	@include clearfix;
	background-color: #efeee9;
	position: relative;

}

.three-dot {
	&:before {
		content: '';
		display: inline-block;
		background-image: url("../img/tri_tochki.png");
		background-position: 0 0;
		width: 40px;
		height: 14px;
		position: absolute;
		top: 50%;
		left: 12px;
		margin-top: -8px;
	}
	&:after {
		content: '';
		display: inline-block;
		background-image: url("../img/tri_tochki.png");
		background-position: 0 0;
		width: 40px;
		height: 14px;
		position: absolute;
		top: 50%;
		right: 10px;
		margin-top: -8px;
		transform: rotate(180deg);
	}
}

.two-dot {
	&:before {
		content: '';
		display: inline-block;
		background-image: url("../img/dvetochki.png");
		background-position: 0 0;
		width: 40px;
		height: 10px;
		position: absolute;
		top: 60%;
		left: 14px;
		margin-top: -8px;
	}
	&:after {
		content: '';
		display: inline-block;
		background-image: url("../img/dvetochki.png");
		background-position: 0 0;
		width: 40px;
		height: 10px;
		position: absolute;
		top: 60%;
		right: 14px;
		margin-top: -8px;
		transform: rotate(180deg);
	}
}

.skills__group {
	text-align: left;
	@include tablets {
		text-align: center;
	}

}
.about-me__wrapper_left .about-me__wr {
	padding: 0 3%;
}
.about-me__wr {
	@include clearfix;
	@include laptop {
		padding: 0 5%;
	}
	.svg-heading {
		position: relative;
		display: block;
		text-align: center;
		float: left;
		width: 50%;
		padding: 0;
		@include laptop {
			width: 100%;
			margin-top: 20px;

		}
		
	}
}
.about-me__wr .svg-heading .svg-heading__text {
	font-family: 'SansusWebissimo';
	font-size: 63px;
	text-transform: uppercase;
	color: #373e42;
	max-width: 335px;
	z-index: 3;
	box-sizing: border-box;
	padding: 0 20px;
	@include phones {
		max-width: 250px;
		font-size: 36px;
	}
	@include tablets {
		width: 70%;
	}

}



.about-me__wrapper{
	@include clearfix
}
.about-me__wrapper_left {
	@include clearfix
	padding: 0 0 20px;
	min-height: 650px;
	width: 50%;
	height: 100%;
	float: left;
	@include tablets {
	 	float: none;
	 	width: 100%;
	}
	

}
.bio-block{
	float: left;
	width: 50%;
	@include laptop {
		// margin: 59px 46px;
		width: 100%;
	}
	@include tablets {
		display: table-cell;
    	vertical-align: middle;
    	text-align: center;
	}

}
.skills-descr {
	margin: 0 auto 50px;
	@include tablets {
		margin: 0 auto 50px;
   	 	width: 80%;
    	text-align: center;
	}
	@include phones {
		margin: 0 auto 15px;
	}
}
.bio-image {
	@include clearfix;
	display: block;
	
	height: 100%;
	margin-top: 10px;
	
	@include laptop {
		margin-top: 70px;
   		margin-left: 56px;
	}
	@include tablets {
		margin: auto;
		margin-top: 45px;
	}
	img {
		width: 100%;
		height: 100%;
		max-width: 390px;
		max-height: 357px;
		@include laptop {
			max-width: 385px;
		}
		@include tablets {
			max-width: 295px;
		}
		@include phones {
			max-width: 295px;
		}
		
	}
	


}


.about-me__wrapper_right {
	@include clearfix
	width: 50%;
	min-height: 650px;
	float: left;
	background-color: #eeebdf;
	@include tablets {
	 	float: none;
	 	width: 100%;
	}
		
}
.about-me__wr {
	padding: 0px 4%;
}
.skills-heading {
    font-family: 'SansusWebissimo';
    font-size: 35px;
    width: 280px;
    text-align: center;
    margin: 0 auto 32px;
    text-transform: uppercase;
    @include tablets {
    	margin: 30px auto 29px;
    }
    @include phones {
    	font-size: 26px;
    }

}

.bio-h3 {
    text-align: center;
    margin: 6% auto;
    font-family: 'SansusWebissimo';
    max-width: 35%;
    width: 100%;
    text-transform: uppercase;
    
    @include laptop {
        max-width: 42%;
    	width: 29%;
    	margin: 46px 35%;
    }

    @include tablets {
        max-width: 21%;
        margin: 36px 40% 0;
    }
    @include phones {
    	max-width: 42%;
    	width: 70%;
    	margin: 10px auto;
    	font-size: 26px;
    }
}

.bio-about {
    text-align: left;
    margin-left: 10px;
    line-height: 1.5;
    @include laptop {
    	margin-left: 57px;
    	p {
    		width: 76%;
    	}
    }
    @include tablets {
    	margin-left: 20%;
    	p {
    		width: 83%;
    	}
    }
    @include phones {
    	margin: 0;

    	p {
    		width: 100%;
    	}
    }
}
.svg-heading-img {
    position: absolute;
    fill: #e7a731;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 90%;
    height: auto;
    -webkit-transform: translate(-50%,-55%);
    -ms-transform: translate(-50%,-55%);
    transform: translate(-50%,-55%);
    opacity: .1;
    @include phones {
    	width: 70%;
    }
}


#map {
	height: 400px;
	width: 100%;
}