.navigation-box.navigation-box_prev
	button.portfolio-button.portfolio-button_prev
		span.fa.fa-chevron-down
	.portfolio-thumbnails
		.portfolio-thumbnails__thumbnail
			img(src="/assets/img/work/slide1.png", alt="slide1")
		.portfolio-thumbnails__thumbnail
			img(src="/assets/img/work/slide2.png", alt="slide2")
		.portfolio-thumbnails__thumbnail
			img(src="/assets/img/work/slide3.png", alt="slide3")
		.portfolio-thumbnails__thumbnail
			img(src="/assets/img/work/slide4.png", alt="slide4")
		.portfolio-thumbnails__thumbnail.active
			img(src="/assets/img/work/slide5.png", alt="slide5")


.navigation-box.navigation-box_next
	button.portfolio-button.portfolio-button_next
		span.fa.fa-chevron-up
	.portfolio-thumbnails
		.portfolio-thumbnails__thumbnail
			img(src="/assets/img/work/slide1.png", alt="slide1")
		.portfolio-thumbnails__thumbnail.active
			img(src="/assets/img/work/slide2.png", alt="slide2")
		.portfolio-thumbnails__thumbnail
			img(src="/assets/img/work/slide3.png", alt="slide3")
		.portfolio-thumbnails__thumbnail
			img(src="/assets/img/work/slide4.png", alt="slide4")
		.portfolio-thumbnails__thumbnail
			img(src="/assets/img/work/slide5.png", alt="slide5")
