img.portfolio-preview.active(src="/assets/img/work/slide1.png" alt="slide1")
img.portfolio-preview(src="/assets/img/work/slide2.png" alt="slide2")
img.portfolio-preview(src="/assets/img/work/slide3.png" alt="slide3")
img.portfolio-preview(src="/assets/img/work/slide4.png" alt="slide4")
img.portfolio-preview(src="/assets/img/work/slide5.png" alt="slide5")