.portfolio-projects
	.project.active
		.project__inner
			h3.project__title.two-dot SLIDE 1
			p.project__tech TEST TEST
			a.project__link(href="#" target="_blank") Посмотреть сайт
	.project
		.project__inner
			h3.project__title.two-dot SLIDE 2
			p.project__tech TEST TEST
			a.project__link(href="#" target="_blank") Посмотреть сайт
	.project
		.project__inner
			h3.project__title.two-dot SLIDE 3
			p.project__tech TEST TEST
			a.project__link(href="#" target="_blank") Посмотреть сайт
	.project
			.project__inner
				h3.project__title.two-dot SLIDE 4
				p.project__tech TEST TEST
				a.project__link(href="#" target="_blank") Посмотреть сайт
	.project
			.project__inner
				h3.project__title.two-dot SLIDE 5
				p.project__tech TEST TEST
				a.project__link(href="#" target="_blank") Посмотреть сайт

