// ===== colors =====
$orange: #e7a731;                // orange
$d-orange: #cd8920;                // d-orange
$brown: #5d5a55;                // brown
$black: #373e42;            // black

// ===== text colors =====
$t-default: #5d5a55;  // основной цвет текста
$t-light: #fff;       //white