extends ../_template

block variables
  - var title = 'About Dmitry Shapira'

block content
   include ../common/menu
   include ../common/_header
   include ../common/_about-me_content
   include ../common/map
   
   include ../common/footer

   