extends ../_template

block variables
  - var title = 'Portfolio - Dmitry Shapira'

block content
  .welcome <canvas id="pixie"></canvas> 
  include ../common/welcome-front

  footer.page-footer
    .copyright
      span &#169; 2016 Dmitry Shapira 
   
